@use "../../style/vars" as vars;

.person {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid vars.$personBorder;
  border-radius: 4px;
  padding: 2px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #2e3238;
  background: vars.$personBackgroun;


}

@media(max-width: 500px) {
  .person {
    &__descr {
      max-width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
